/* normalize */
@import "normalize.less";

/* fonts */
@import "fonts.less";


/* variables */
@grid-gutter: 2.5%; // 30px at width 1200
@grid-columns: 12;

/* grid */
.row {
  padding-left: @grid-gutter / 2;
  padding-right: @grid-gutter / 2;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.col(@index) {
    width: percentage((@index / @grid-columns)) - @grid-gutter;
    position: relative;   // from bootstrap. Why??? for pixel hunting, if necessary?
    min-height: 1px;      // Prevent columns from collapsing when empty
    float: left;
    margin-left: @grid-gutter / 2;
    margin-right: @grid-gutter / 2;
}

/* General styles */
 body {
   font-family: "Roboto", sans-serif;
   height: 5988px; //TO DO Delete this
   width: 1600px;
}
h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}
h1, h2, h3 {
  font-weight: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

/* page header */

.page-header {
  height: 69px;
  background-color: #2c2c2c;
  padding-top: 19px;

  &__title {
    font-size: 22px;
    color: #fff;
    width: 25%;
    float: left;
    margin-left: -4px;
  }
  & nav {
    width: 75%;
    float: right;
  }
  & ul {
    text-align: right;
    margin-right: -10px;
  }
  & li {
    display: inline-block;
    padding: 4px 6px 3px 9px;
    margin-left: 12px;
  }
  & li a {
    font-size: 18px;
    color: #fff;
  }
  &__nav-item--active {
    border: 1px solid #efefef;
  }
}

/* Section First-Screen */
.first-screen {
  height: 645px;
  background-image: url(../img/bg-first-screen.jpg);
  background-size: cover;
  text-align: center;
  padding-top: 171px;
  &__motto {
    font-size: 66px;
    line-height: 78px;
    color: #fff;
    width: 690px;
    margin: 0 auto 181px;
  }
  &__more-info {
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 7px 12px;
    border: 1px solid #fff;
  }
  &__more-info:after {
    content: '';
    display: inline-block;
    background-image: url(../img/icon-arrow-down.svg);
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 29px;
    width: 18px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 74px;
  }
}
/* Section perks */
.perks .container {
  .row;
  height: 188px;
}
.perks__perk {
  .col(3);
  @pt: 94px;
  padding-top: @pt;
  font-size: 18px;
  line-height: 22px;
  &:before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    position: absolute;

  }
  &--1 {
    padding-left: 83px;
    &:before {
      background-image: url(../img/icon-thumbup.svg);
      width: 56px;
      height: 58px;
      top: @pt - 10;
      left: 5px;
    }
  }
  &--2 {
    padding-left: 90px;
    &:before {
      background-image: url(../img/icon-glasses.svg);
      width: 75px;
      height: 28px;
      top: @pt + 10;
      left: -6px;
    }
  }
  &--3 {
    padding-left: 104px;
    padding-right: 50px;
    &:before {
      background-image: url(../img/icon-photo.svg);
      width: 65px;
      height: 50px;
      top: @pt - 5;
      left: 14px;
    }
  }
  &--4 {
    padding-left: 108px;
    &:before {
      background-image: url(../img/icon-binocular.svg);
      width: 72px;
      height: 34px;
      top: @pt + 5;
      left: 10px;
    }
  }
}

/* Section shorts (Вкратце) */
.shorts {
  & .container {
    .row;
    height: 555px;
    background-color: lightcyan;
  }
  &__intro {
    .col(4);
    & h2 {
      font-size: 32px;
      padding-top: 36px;
      margin-left: -4px;
      margin-bottom: 59px;
      &:before {
        content: '';
        display: block;
        background-color: #3e98d7;
        width: 62px;
        height: 6px;
        position: absolute;
        top: 91px;
        left: -4px;
      }
    }
    & p {
       font-size: 18px;
       line-height: 24px;
       margin-left: -5px;
       margin-bottom: 24px;
     }
  }
  &__video {
    .col(8);
    padding-top: 49px;
    margin-bottom: 110px;

  }
  &__video-container {
    box-shadow: 0 20px 0 -10px #e6e6e6 ;
  }
  & hr {
    height: 1px;
    width: 98%;
    background-color: #ccc;
    border: none;
    margin: 0 auto;
  }
}
