/* normalize */
@import "normalize.less";

/* fonts */
@import "fonts.less";


/* variables */
@grid-gutter: 2.5%; // 30px at width 1200
@grid-columns: 12;

/* grid */
.row {
  padding-left: 15px;
  padding-right: 15px;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.col(@index) {
    width: percentage((@index / @grid-columns)) - @grid-gutter;
    position: relative;   // from bootstrap. Why??? for pixel hunting, if necessary?
    min-height: 1px;      // Prevent columns from collapsing when empty
    float: left;
    margin-left: @grid-gutter / 2;
    margin-right: @grid-gutter / 2;
}

/* General styles */
 body {
   font-family: "Roboto", sans-serif;
   width: 1600px; //TO DO Delete this
}
h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}
h1, h2, h3 {
  font-weight: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
hr {
  height: 1px;
  width: 98%;
  background-color: #ccc;
  border: none;
  margin: 0 auto;
}
/* General style mixins */
.h2() {
  font-size: 32px;
  font-weight: 500;
  padding-top: 36px;
  padding-bottom: 16px;
  margin-bottom: 43px;
  background-image: url(../img/bg-blue-line.png);
  background-size: 62px 6px;
  background-repeat: no-repeat;
  background-position: 0 100%;
}
.p() {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
}
/* page header */

.page-header {
  height: 69px;
  background-color: #2c2c2c;
  padding-top: 19px;

  &__title {
    font-size: 22px;
    color: #fff;
    width: 25%;
    float: left;
    margin-left: -4px;
  }
  & nav {
    width: 75%;
    float: right;
  }
  & ul {
    text-align: right;
    margin-right: -10px;
  }
  & li {
    display: inline-block;
    vertical-align: middle;
    padding: 4px 9px 4px 9px;
    margin-left: 9px;
    &:hover {
      border: 1px solid #efefef;
      padding: 3px 8px 3px 8px; // this fixes menu jittering on hovering over
    }
  }
  & li a {
    font-size: 18px;
    color: #fff;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

/* Section First-Screen */
.first-screen {
  height: 645px;
  background-image: url(../img/bg-first-screen.jpg);
  background-size: cover;
  text-align: center;
  padding-top: 171px;
  &__motto {
    font-size: 66px;
    line-height: 78px;
    color: #fff;
    width: 690px;
    margin: 0 auto 181px;
  }
  &__more-info {
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 7px 12px;
    border: 1px solid #fff;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
  &__more-info:after {
    content: '';
    display: inline-block;
    background-image: url(../img/icon-arrow-down.svg);
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 29px;
    width: 18px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 74px;
  }
}
/* Section perks */
.perks .container {
  .row;
  height: 188px;
}
.perks__perk {
  .col(3);
  @pt: 94px;
  padding-top: @pt;
  font-size: 18px;
  line-height: 22px;
  &:before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    position: absolute;

  }
  &--1 {
    padding-left: 88px;
    &:before {
      background-image: url(../img/icon-thumbup.svg);
      width: 56px;
      height: 58px;
      top: @pt - 10;
      left: 9px;
    }
  }
  &--2 {
    padding-left: 92px;
    &:before {
      background-image: url(../img/icon-glasses.svg);
      width: 75px;
      height: 28px;
      top: @pt + 10;
      left: -4px;
    }
  }
  &--3 {
    padding-left: 104px;
    padding-right: 50px;
    &:before {
      background-image: url(../img/icon-photo.svg);
      width: 65px;
      height: 50px;
      top: @pt - 5;
      left: 14px;
    }
  }
  &--4 {
    padding-left: 108px;
    &:before {
      background-image: url(../img/icon-binocular.svg);
      width: 72px;
      height: 34px;
      top: @pt + 5;
      left: 10px;
    }
  }
}

/* Section shorts (Вкратце) */
.shorts {
  & .container {
    .row;
    height: 560px;
  }
  &__intro {
    .col(4);
    & h2 {
      .h2();
    }
    & p {
      .p();
     }
  }
  &__video {
    .col(8);
    padding-top: 49px;
    margin-bottom: 110px;

  }
  &__video-container {
    box-shadow: 0 20px 0 -10px #e6e6e6 ;
  }
}

/* Section Gallery */
.gallery {
  & .container {
    height: 455px;
    text-align: center;
    position: relative;
  }
  & h2 {
    .h2();
    background-position: 50% 100%;
  }
}
.carousel {
  width: 100%;
  font-size: 0;
  padding-top: 18px;
  &__arrow-left {
    display: inline-block;
    vertical-align: middle;
    margin-right: 32px;
    fill: #cfcfcf;
    &:hover {
      fill: #727272;
    }
  }
  &__arrow-right {
    display: inline-block;
    vertical-align: middle;
    margin-left: 32px;
    fill: #cfcfcf;
    &:hover {
      fill: #727272;
    }
  }
  &__images {
    display: inline-block;
  }
  &__img {
    padding: 7px;
    box-sizing: content-box;
    &:hover {
      fill: #727272;
    }
  }
}

/* Section How-to-flight */
.how-to-fly {
  height: 702px;
  background-image: url(../img/bg-mountains.jpg);
  background-size: 100%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  & .container {
    text-align: center;
    position: relative;
    height: 100%;
  }
  & h2 {
    .h2();
    background-position: 50% 100%;
    margin-left: 5px;
    &:after {         // flight path image
      content: '';
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: url(../img/img-flight-path.png);
      width: 1140px;
      height: 176px;
      position: absolute;
      top: 298px;
      left: 30px;
    }
  }
  & p {
    font-size: 18px;
    width: 98px;
    height: 130px;
    position: absolute;
    &:after {
      font-size: 22px;
      color: #fff;
      padding-top: 16px;
      display: block;
      background-repeat: no-repeat;
      background-size: 44px 65px;
      background-image: url(../img/icon-ballon.svg);
      background-position: 50% 100%;
      width: 100%;
      height: 75px;
    }
  }
  &__stage-1 {
    bottom: 237px;
    left: 12px;
    &:after {
      content:"1";
    }
  }
  &__stage-2 {
    bottom: 306px;
    left: 292px;
    &:after {
      content:"2";
    }
  }
  &__stage-3 {
    bottom: 412px;
    left: 552px;
    &:after {
      content:"3";
    }
  }
  &__stage-4 {
    bottom: 288px;
    right: 288px;
    &:after {
      content:"4";
    }
  }
  &__stage-5 {
    bottom: 242px;
    right: 20px;
    &:after {
      content:"5";
    }
  }
}
/* Section Time-to-flight */
.time-to-flight {
  background-color: #f2f2f2;
  color: #26668e;
  font-size: 32px;
  font-weight: 500;
  height: 100px;
  line-height: 100px;
  & .container {
    .row;
  }
  & p:first-child {
    .col(6);
  }
  & p:last-child {
    .col(6);
    float: right;
    text-align: right;
    font-size: 22px;
  }
  &__time {
    font-size: 32px;
    margin-left: 30px;
    margin-right: 6px;
    display: inline-block;
    width: 38px; //правильно проставить ширину блоку, чтобы слова не прыгали при работе  счётчика
  }
}
/* Section price */
.price {
  & .container {
    .row;
    height: 478px;
    padding-top: 44px;
  }
  &__words {
    .col(5);
    height: 433px; // move <hr> down
    & h2 {
      .h2();
      margin-bottom: 44px;
    }
    & p {
      .p();
    }
  }
  &__form {
    .col(6);
    margin-left: 100/12 + @grid-gutter / 2; // offset 1 col
  }
}
.price-form {
  font-size: 0;
  padding-top: 37px;

  &__label {
    font-size: 18px;
    display: inline-block;
    width: 200px;
    padding-left: 2px;
    line-height: 60px;
  }
  &__input {
    font-size: 18px;
    display: inline-block;
    width: 355px;
    padding-top: 4px;
    padding-bottom: 8px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    &:active, &:focus {
      border: 2px solid #aed6ff;
    }

    &--path,
    &--num-of-passengers {
      padding-left:12px;
      background: url(../img/icon-form-arrows.png) no-repeat scroll 330px 6px;
    }
    &--name {
      background: url(../img/icon-form-man.svg) no-repeat scroll 10px 10px;
      padding-left:30px;
    }
    &--phone {
      background: url(../img/icon-form-phone.svg) no-repeat scroll 8px 8px;
      padding-left:30px;
      margin-bottom: 30px;
    }
  }
  & p {
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    vertical-align: middle;
    display: inline-block;
    width: 390px;
    & span {
      font-size: 38px;
      color: #f97e7e;
      position: relative;
      top: 6px;
      margin-left: 16px;
    }
  }
  &__btn {
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    width: 165px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #46b0dc;
    border: none;
    border-radius: 5px;
  }
}

/* Section FAQ */
.faq {
  height: 868px;
  & .container{
    .row;
    padding-top: 30px;
  }
  &__pay, &__faq {
    .col(6);
  }
  & h2 {
    .h2();
  }
  &__pay {
    & h2 {
      margin-bottom: 30px;
    }
    & h3 {
      font-size: 26px;
      font-weight: 500;
      margin-bottom: 22px;
      &:last-of-type {
        margin-top: 46px;
      }
    }
    & p {
      .p();
      padding-right: 50px;
    }
  }
  &__faq {
    & h2 {
      margin-bottom: 26px;
    }
    & h3 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 15px;
      &:before {
        content: '';
        display: inline-block;
        background-image: url(../img/icon-question-mark.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 40px;
        height: 34px;
        margin-left: 5px;
        margin-right: 15px;
        position: relative;
        top: 8px;
      }
    }
    & p {
      font-size: 16px;
      padding-left: 82px;
      padding-right: 20px;
      margin-bottom: 20px;

      &:first-of-type {
        margin-bottom: 40px;
      }
    }
  }
}
/* Section statistics */
.statistics {
  background-image: url(../img/bg-for-stat.jpg);
  background-size: 100%;
  & .container {
    .row;
    height: 374px;
    padding: 72px 120px;
  }
  &__info {
    width: 25%;
    float: left;
    color: #fff;
    font-weight: 500;
    text-align: center;
  }
  &__number {
    display: block;
    width: 160px;
    height: 160px;
    border: 6px solid #fff;
    border-radius: 80px;
    line-height: 150px;
    padding-left: 6px;
    margin: 0 auto;
    font-size: 42px;
    margin-bottom: 15px;
  }
  &__info {
    font-size: 24px;
  }
}

/* Section team */
.team {
  & .container {
    .row;
    text-align: center;
    height: 525px;
    padding-top: 48px;
  }
  & h2 {
    .h2();
    background-position: 50% 100%;
    padding-bottom: 26px;
    margin-bottom: 60px;
  }
  &__info {
    .col(3);
    font-weight: 500;
    padding: 0 20px;
  }
  &__img {
    margin-bottom: 30px;
  }
  &__name {
    font-size: 22px;
    line-height: 34px;
  }
  &__position {
    font-size: 18px;
  }

}
/* section Opinions */
.opinions {
  .container {
    .row;
    text-align: center;
    height: 515px;
  }
  & h2 {
    .h2();
    background-position: 50% 100%;
    padding-bottom: 26px;
    margin-bottom: 50px;
  }
  &__opinion {
    .col(6);

  }
  & img {
    margin-bottom: 6px;
  }
  & cite {
    display: block;
    font-weight: 500;
    font-size: 22px;
    font-style: normal;
    margin-bottom: 14px;
  }
  & blockquote {
    font-size: 18px;
    margin-left: 0;
    margin-right: 0;
  }
}
/* Contacts section */
.contacts {
  background-image: url(../img/bg-adress.jpg);
  background-size: 100%;
  .container {
    .row;
    height: 448px;
    text-align: center;
    font-weight: 500;
  }
  &__write {
    font-size: 26px;
    color: #444444;
    margin-top: 55px;
    margin-bottom: 4px;
    &:before {
      content: "";
      display: block;
      width: 62px;
      height: 62px;
      background: url(../img/icon-airplane.svg) no-repeat;
      background-size: 42px;
      background-position: 50% 50%;
      background-color: #337ba0;
      border-radius: 5px;
      margin: 0 auto 20px;
    }
  }
  &__airport {
    font-size: 18px;
    color: #616161;
    margin-bottom: 54px;
  }
  &__offices {
    .col(4);
    text-align: left;

  }
  &__title {
    color: #2b2b2b;
    font-size: 22px;
    padding-left: 60px;
    position: relative;
    margin-bottom: 4px;
    &:before {
      content: "";
      display: inline-block;
      width: 35px;
      height: 50px;
      background: url(../img/icon-location.svg) no-repeat;
      background-size: 100%;
      position: absolute;
      top: 4px;
      left: 4px;
    }
  }
  &__address, &__working-hours {
    color: #525252;
    font-size: 20px;
    padding-left: 60px;
  }
  &__phone {
    color: #292929;
    font-size: 26px;
    padding-left: 60px;
    margin-top: 6px;
  }
  &__email {
    font-size: 22px;
    color: #444;
    text-decoration: underline;
    padding-left: 10px;
    &:before {
      content: "";
      display: inline-block;
      width: 23px;
      height: 17px;
      background: url(../img/icon-email.svg) no-repeat;
      background-size: 100%;
      margin-right: 22px;
    }
  }
  &__social {
    margin-top: 20px;
    padding-left: 10px;
    & a {
      font-family: "WebSymbolsLigaRegular", serif;
      font-size: 22px;
      color: #444;
      padding-right: 18px;
      &:hover {
        color: #778189;
      }
    }
  }
}
/* footer */
/* footer is the same as header*/
.go-up {
  position: fixed;
  bottom: 20px;
  right: 48px;
}

